<h1>Public::Shops#show</h1>
<p>Find me in app/views/public/shops/show.html.erb</p>


<table class="table table-bordered">
    <tr>
        <th>店舗名</th>
        <td><%= @shop.name %></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @shop.address %></td>
    </tr>
    <tr>
        <th>販売ステッカー</th>
        <td>国道 <%= @shop.sticker.road_number %> 号</td>
    </tr>
</table>
<div id='map' class="mb-5"></div>

<style>
#map{
    height: 300px;
}
</style>

<script>
    async function initMap(){
        map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>},
            zoom: 14,
            mapTypeControl: false, // 地図・衛星写真の切り替え不要
            streetViewControl: false, // ストリートビュー不要
        });
        marker = new google.maps.Marker({
            position: {lat: <%= @shop.latitude %>, lng: <%= @shop.longitude %>}, // 配置する座標
            map: map, // 対象マップ
            icon: {
                url : "/images/<%= @shop.sticker.road_number.to_s.rjust(3,'0') %>.png",
                scaledSize: new google.maps.Size(40, 40), // 画像サイズ
            }
        });
        marker.addListener("click", function() {
            // 緯度・経度で Google Maps を開く
            var url = "https://www.google.com/maps/search/?api=1&query=" + encodeURIComponent("<%= @shop.name %>");

            window.open(url, '_blank');  // 新しいタブで開く
        });
    }
</script>