<div id='map' class="mb-5"></div>

<h1 class="text-center">国道<%= @sticker.road_number %>号 販売店リスト</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>都道府県</th>
            <th>店舗名</th>
            <th>住所</th>
            <th>Google Map</th>
        </tr>
    </thead>
    <tbody>
        <% @shops.each do |shop| %>
            <tr>
                <td><%= shop.prefecture %></td>
                <td><%= link_to shop.name, shop_path(shop.id) %></td>
                <td>
                    〒<%= shop.zipcode %>
                    <br>
                    <%= shop.address %>
                </td>
                <td><%= link_to "マップ", "https://www.google.com/maps/search/?api=1&query=#{CGI.escape(shop.name)}", target: "_blank", rel: "noopener" %></td>
            </tr>
        <% end %>
    </tbody>
</table>

<style>
#map{
    height: 300px;
}
</style>

<script>
    function initMap(){
        map = new google.maps.Map(document.getElementById("map"),{
            center: {lat: 35, lng: 135},
            zoom: 2
        });
        bounds = new google.maps.LatLngBounds();
        var road_number = "<%= @sticker.road_number.to_s.rjust(3, '0') %>"
        <% @shops.each do |shop| %>
            var position = {lat: <%= shop.latitude %>, lng: <%= shop.longitude %>};
            setMarker(map, position, road_number);
            bounds.extend(position);
        <% end %>
        map.fitBounds(bounds,10);
    };

    function setMarker(map, position, road_number) {
        marker = new google.maps.Marker({
            map: map,
            position: position,
            icon: {
                url : "/images/" + road_number + ".png",
                scaledSize: new google.maps.Size(30, 30), // 画像サイズ
            }
        });
    };
</script>