<!DOCTYPE html>
<html>
  <head>
    <title>KokudouStickerChecker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>

  </head>

  <body>
    <!-- Bootstrap Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container-fluid">
        <%= link_to '国道ステッカーチェッカー', root_path, class: "navbar-brand" %>

        <!-- Hamburger Menu -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto text-center w-100"">

            <% if admin_signed_in? %>
              <li class="nav-item">
                <%= link_to "管理者トップ", admins_root_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "管理者ログアウト", destroy_admin_session_path, class: "nav-link",
                    data: { turbo_method: :delete } %>
              </li>

            <% elsif user_signed_in? %>
              <li class="nav-item">
                <span class="navbar-text"><%= current_user.name %> さん、こんにちは！</span>
              </li>
              <li class="nav-item">
                <%= link_to "マイページ", users_mypage_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ステッカー一覧", stickers_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザーログアウト", destroy_user_session_path, class: "nav-link",
                    data: { turbo_method: :delete } %>
              </li>

            <% else %>
              <li class="nav-item">
                <%= link_to "ユーザーログイン", new_user_session_path, class: "nav-link" %>
              </li>
              <li class="nav-item">
                <%= link_to "ユーザー登録", new_user_registration_path, class: "nav-link" %>
              </li>

            <% end %>

          </ul>
        </div>
      </div>
    </nav>

    <!-- 上部固定分の余白 -->
    <div style="padding-top: 70px;"></div>

    <%= yield %>

    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_API_KEY'] %>&callback=initMap"></script>

    <footer></footer>
  </body>

</html>
